%main.container
  .text-center
    %h3.general-login-title= t('.set_new_password')
    = form_for(resource, as: resource_name, url: password_path(resource_name),
      html: { method: :put, class: 'general-form' }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group.mb-30
        %label.control-label.font-weight-light.pull-left{for: |
          'password'}= t('.type_new_password') |
        = f.password_field(:password, autofocus: true, class: 'form-control',
          placeholder: t('.type_new_password'))
      .form-group.mb-40
        %label.control-label.font-weight-light.pull-left{for: |
          'confirmPassword'}= t('.confirm_password') |
        = f.password_field(:password_confirmation, class: 'form-control',
          placeholder: t('.confirm_password'))
      = f.submit(t('.change'), class: 'btn btn-default center-block mb-20')
